
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { /*esta selector root me permite difinir las variables a utilizar o reutilizar en el programa, se la declara con --nombre_var*/
    /*PALETE DE COLORS*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9); /*declaro una variable y el canal rgb me toma transparencias, le agrego el ultimo canal le pongo 0.9 eso me dice q tiene 90% trasp */
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid:#1D84B5;
    --secondary-900:rgba(29, 132, 181, 0.9);
    --secondary-500:rgba(29, 132, 181, 0.5);
    --secondary-300:rgba(29, 132, 181, 0.3);

    --dark-solid:#1F1F1F;
    --dark-900:rgba(31, 31, 31, 0.9);
    --dark-500:rgba(31, 31, 31, 0.5);
    --dark-300:rgba(31, 31, 31, 0.3);

    --dark-bg-solid:#30343F; /*defino un background oscuro y uno claro para utilizarlo*/
    --light-bg-solid:#FAFAFF; 
    --light-font-solid: #FFFFFF;

    /*TYPOGRAPHY*/

    --base-font: ¨inter¨, sans-serif;
    --alternative-font: ¨Raleway¨, sans-serif;

    /*FONT-SIZES (el unidad em es dinamica a veces puede valer 10px o 16px un ejemplo)*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*SPACING (espacios o rellenos, para espaciar) la unidad rem es estatica siempre va a valer lo mismos 16px*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;



}

*,
* ::after, /*after y before son pseudoclases para normalizar y sirven para reutilizarla*/
* ::before { /*selector universal saco el margen y el relleno de la pagina shop*/ 
    margin: 0; /*margen normalizado*/
    padding: 0; /*relleno normalizado*/
    box-sizing: border-box; /*lo que hace esta funcion es si te aplican un margen o relleno como este caso, te coma los espacios hacia adentro de la caja*/
}

html { /*hace referencia a la etiqueta raiz, de esta etiqueta heredaran las otras etiqueta ya que es la etiqueta padre*/
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);

}

a { /*normalizando los enlaces cambiar los estilos y fuentes*/
  text-decoration: none; /*sacar el subrayado de los enlaces*/
  font-size: 2em; /*tamño de fuente*/
  color: inherit; /*toma el color que viene heredado*/
  font-size: inherit;
}

header,footer { /*la cabecera y pie de pagina a los enlaces le asigno el color de fuente*/
    color: white;
    font-family: var(--light-font-solid);

}

ul, ol{ /*normalizar las litas desordenadas y ordenadas*/
    list-style-type: none; /*no aparezca ningun bule (viñeta) y numerado*/    
    color: white;
}

p { /*seleccionar los parrafos normalizar la fuente*/
    font-size: 1.8em;
}

.container { /*clase utilitaria contenedor para el ancho maximo de margen de todas las paginas 1200px no se salga de ese margen y la puedo reutilizar en otra etiqueta*/
    max-width: 1200px; /*margen va a tener siempre esta dimension de 1200px y por mas que este en un monitor de 50¨ se respeta esa medida*/
    margin: 0 auto; /*al margen lo calcula automaticamente y le pongo de valor cero*/

}

/*HEADER*/

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);/*relleno al navbar para de arriba y abajo, se le aplica al header para q siga la linea para todos*/

}

.navbar{  /* que esta en la etiqueta padre, heredan las etiquetas hijos estan adentro*/
    display: flex;/*para q los elementos sean flexibles y se pongaa uno al lado del otro*/
    justify-content: space-between; /*elemento este final margen derecho*/
    align-items: center;/*alinea y centra los elementos*/
        
}

.navbar__logo { /*ajustar el tamaño del logo, es mas chico*/
    max-width: 300px;

}

.navbar__menu { /*a la clase del menu le colocamos un display*/
    display: flex;
    align-items: center;
    gap: var(--spacing-20); /*darle una separacion a los elementos del menu*/

}

.navbar__link {
    font-size: var(--font-medium);

}

.navbar__link:hover { /*cuando pase el puntero del mouse por el link se note*/
    background-color: var(--primary-900);
    padding: var(--spacing-8) var(--spacing-16);/*primero espesor arriba y abajo y el otro para los costados*/
    display: inline-block; /*padding este dentro del flujo de la pagina*/
    transition: background .3s ease-in-out; /*entra salgo con el mouse se note mas tenga un delay de tiemp*/
    position: relative; /*submenu se relativo al padre shop y no al body de la pagina*/

}

.with-icon { /*clase par centrar el shop con el chevron son clases de ayuda, coloco abajo de la clase navbarlink tiene menos priordad asi toma el cambio*/
    display: flex;/*le damos flexibilidad al elemento*/
    align-items: center; /*centramos al elemento*/
    gap: var(--spacing-8); /*separen 8px los elementos*/
}

.with-submenu:hover .submenu { /*cuando haga hover al submenu recien aparezca*/
    display: block;

}

.submenu {
    display: none;/*cuando no haga hover sobre el shop, no se despliega el submenu*/
    width: 300px;
    position: absolute; /*para sacarlo del flujo de la pagina*/
    background-color: var(--dark-bg-solid); /*tenga mismo color*/
    z-index: 3;/*el sub-menu del shop este por encima de la capa 2 y sea visible ya que son 3 capas y una lo tapa sino coloco esta instruccion*/
}

.submenu__link {
    display: block;/*para poder darle tamaño a los elementos del submenu*/
    padding: var(--spacing-8) var(--spacing-16);/*darle relleno 8 para arriba y abajo y el 16 para los costados*/
    font-size: var(--font-medium);  /*tamaño fuente*/
    transition: background .3s ease-in-out; /*entra salgo con el mouse se note mas tenga un delay de tiemp*/
}

.submenu__link:hover {
    background-color: var(--primary-900);

}
/*COLLECTIONS (MAIN) - EMPEZAMOS A MAQUETAR*/


/*SLIDER*/

.slider { /*maquetar la caja padre*/

    display: flex; /*flexibilidad a los elemento*/
    flex-direction: column; /*para poner los elementos de esta caja en columna img y las fuentes abajo title, precio, promo*/
    gap: var(--spacing-36); /*separar el titulo de los elementos 36px*/
    margin: var(--spacing-68) auto; /*margen 68px arriba y abajo, se autoajuste a los costados*/

}


.slider__items { /*maquetar las 3 card*/
    display: flex; /*para que las card se posiciones uno al lado del otro horizontalmente*/
    gap: var(--spacing-24); /*separar las cajas de las card y q no esten pegadas de 24px*/
  
}


.card-item__tag { /*etiqueta de nuevo de cada card*/
    font-size: var(--font-xsmall); /*tamaño de 14px*/
    text-transform: uppercase; /*texto todo mayuscula*/
    background-color: var(--primary-solid);/*etiqueta color naranja*/
    color: var(--light-font-solid);/*color de fuente el blanco total*/
    padding: var(--spacing-8) var(--spacing-12);/*relleno arriba y abajo de 8px y costados 12px*/
    position: absolute; /*toma relleno de la caja del elemento fuente y toda la caja padre*/
    right: 0; /*para q se valla la etiqueta de nuevo a la derecha*/
}








.card-item__content { /*maquetar los textos debajo de la figura en cada card*/
    display: flex;/*flexibilidad a los elemento*/
    flex-direction: column; /*para poner los elementos de esta caja en columna img y las fuentes abajo title, precio, promo*/
    gap: var(--spacing-12);/*separar el titulo de los elementos 12px*/
    padding: var(--spacing-16); /*relleno arriba-abajo y a los costados este separado del margen de las cajas*/

}

.card-item__licence { /*maquetar los parrafos*/
    font-size: var(--font-xsmall); /*tamaño de fuente 1.4em 14px*/
    font-weight: 500; /*peso o grosor de fuente*/
}

.card-item__name { /*maquetar los parrafos*/
    font-size: var(--font-medium); /*tamaño de fuente 1.4em 14px*/
    font-weight: 700; /*peso o grosor de fuente*/
}

.card-item__price { /*maquetar los parrafos*/
    font-size: var(--font-small); /*tamaño de fuente 1.4em 14px*/
    
}

.card-item__promo { /*maquetar los parrafos*/
    font-size: var(--font-xsmall); /*tamaño de fuente 1.4em 14px*/
    color: var(--secondary-solid); /*color de fuente diferente*/
    font-weight: 700; /*peso o grosor de fuente*/
}


/*FOOTER*/

.footer { /*maquetar el foote o pie de pagina*/
    background-color: var(--dark-bg-solid) ; /*color de la caja total del footer*/
    padding: var(--spacing-68);/*color de relleno al footer arriga y abajo o se margen*/

}

.footer__copy { /*maquetar el copy*/
    margin-top: var(--spacing-36);/*no este pegado arriba al margen de la footer*/
    text-align: center; /*alinear el copy al centro */

}

